@import "./theme-kmup-light-protanopia-deuteranopia.css" (prefers-color-scheme: light);
@import "./theme-kmup-dark-protanopia-deuteranopia.css" (prefers-color-scheme: dark);

kmup-theme-meta-info {
  --theme-display-name: "Auto";
  --theme-colorblind-type: "red-green";
  --theme-color-scheme: "auto";
}
